{% extends "home/index.html" %}
{% block head %}
            <meta name="msvalidate.01" content="62C8947685D92FCE20F12565A6344A5B" />
            <meta name="google-site-verification" content="lbGF4LW9tAGOiGEqjFzU_6UrR6MDCuDmMhFbSYyVgJM" />
            <title>Fantasy Premier League transfer tips and suggestions</title>
            <meta name=”description” content="Don't know who to choose for your Fantasy Premier League team? Visit FPLS for tips and suggestions."/>
            <meta property=”og:title” content=”Fantasy Premier League Scout” />
            <meta property=”og:type” content=”website”/>
            <meta property=”og:image” content=”http://www.fantasypremierleaguescout.com/static/images/smaller_PS9F6BF99L.jpg”/>
            <meta property=”og:description” content=”Don't know who to choose for your Fantasy Premier League team? Visit FPLS for tips and suggestions.”/>
            <meta property=”fb:admins” content=”562590337” />
            <meta name=”twitter:card” content=”Don't know who to choose for your Fantasy Premier League team? Visit FPLS for tips and suggestions.”>
            <meta name=”twitter:url” content=”http://www.fantasypremierleaguescout.com/home”>
            <!--
            <meta name=”twitter:description” content=”Don't know who to choose for your Fantasy Premier League team? Visit FPLS for tips and suggestions.”>
            -->
{% endblock %}
{% block content %}

<div class="content">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-lg-6 col-lg-offset-3" >
            <h1>
                Don't know who to choose for your FPL team? Use the scout tool for simple, statistically backed suggestions.
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-2 col-md-offset-3 col-lg-2 col-lg-offset-3" >
                 <br> <a href='/player_search' class="btn btn-block">Use the tool</a>
        </div>
        <div class="col-xs-12 col-md-2 col-lg-2 col-lg-offset-0" >
                <br> <a href='/about' class="btn btn-block">About the tool</a>
        </div>
        <div class="col-xs-12 col-md-2 col-lg-2 col-lg-offset-0" >
                <br><a href='/contact' class="btn btn-block">Get in touch</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <img src="/static/images/smaller_PS9F6BF99L.jpg" class="img-responsive img-rounded" alt="Football Pitch">
        </div>
    </div>
</div>

{% endblock %}